---
const platform1 = "github";
const username1 = "Asad-Ur-Rahman";

const platform2 = "facebook";
const username2 = "AsadUrRahman0313";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform1}.com/${username1}`}>{platform1}</a
    >!
  </p>
  <p>
    You can follow me on <a href={`https://www.${platform2}.com/${username2}`}>{platform2}</a
    >!
  </p>
</footer>
